body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; /* Моноширинный шрифт для стиля кода */
    background-color: #333; /* Темно-серый фон */
    color: white; /* Белый текст */
}

header, main, footer {
    text-align: center;
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #555; /* Чуть светлее фона для кнопок */
    color: white; /* Белый текст на кнопках */
    border: none;
    border-radius: 5px; /* Скругленные углы для кнопок */
}

.hidden {
    display: none;
}

/* Основные стили тела и текста уже заданы, добавим стили для меню */

.menu-toggle {
    position: absolute;
    top: 10px; /* Расположение в верхнем углу */
    right: 10px; /* Отступ справа */
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white; /* Цвет иконки меню */
    z-index: 1000; /* Убедитесь, что кнопка всегда поверх меню */
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #333; /* Темный фон для меню */
    overflow-x: hidden; /* Скрытие содержимого за пределами ширины меню */
    transition: 0.5s; /* Плавное открытие и закрытие */
    z-index: 999; /* Меню должно быть под кнопкой */
}

nav ul {
    position: absolute;
    top: 50%; /* Центрирование списка в вертикальном направлении */
    transform: translateY(-50%);
    width: 100%;
    list-style-type: none;
    padding: 0;
    text-align: left;
}

nav ul li {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

nav ul li:hover {
    background-color: #555; /* Сделать пункты меню темнее при наведении */
    color: white;
}

footer a {
    margin: 0 10px;
    color: #0077cc; /* Синий цвет для ссылок */
    text-decoration: none;
}
