body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    max-width: 1200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    text-align: center;
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 5px;
}

intro {
    font-size: 40px;
}

h1 {
    font-size: 40px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    text-align: right;
    padding: 10px 20px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    padding: 10px 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block; 
}

nav ul li:last-child {
    padding-right: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}

.image img {
    width: 100%;
    height: auto;
}

.text, .image {
    flex: 1;
    max-width: 50%;
    padding-left: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    margin: 0 10px;
    color: white; /* Обеспечение белого цвета текста */
    text-decoration: none;
}

footer a i {
    margin-right: 5px; /* Пробел между иконкой и текстом */
}
