body, html {
    margin: 0;
    padding: 0;
    font-family: 'MyCustomFont1';
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: auto;
    padding: 20px;
    max-width: 1200px;
    flex-grow: 1;

}


header, footer {
    text-align: center;
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 5px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    text-align: right;
    padding: 10px 20px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    padding: 10px 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block; 
}

nav ul li:last-child {
    padding-right: 50px;
}

h1 {
    font-family: 'MyCustomFont1';
    font-size: 60px;
    padding-top: 0px;
    max-width: 80%;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MyCustomFont2';
    line-height: 1.5;
    letter-spacing: 1px;
}

.image {
    position: relative;
    max-width: 80%;
    padding-left: 20px;
    
}

.image img {
    width: 100%;
    height: auto;
}

p {
    font-size: 20px;
}
.image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    text-align: center;
}

.text {
    width: 60%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

footer a i {
    margin-right: 5px;
}

/*Projects */ 
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
   
  .card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
  }
   
  .card img {
    width: 100%;
    height: auto;
  }
   
  .card h3 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
   
  .card p {
    color: #777;
  }

/*About me */

.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}

.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}

/* demo контейнер */
.demo {
    margin: 5% 10%;
}


@font-face {
    font-family: 'MyCustomFont1';
    src:    url('fonts/myfont1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont2';
    src:    url('fonts/myfont2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
