body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; /* Моноширинный шрифт для стиля кода */
    background-color: #333; /* Темно-серый фон */
    color: white; /* Белый текст */
}

header, main, footer {
    text-align: center;
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #555; /* Чуть светлее фона для кнопок */
    color: white; /* Белый текст на кнопках */
    border: none;
    border-radius: 5px; /* Скругленные углы для кнопок */
}

.hidden {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white; /* Белый цвет иконки меню */
    hover: grey;
}

footer a {
    margin: 0 10px;
    color: #0077cc; /* Синий цвет для ссылок */
    text-decoration: none;
}
