/*  Common style */
body {
    margin: 0;
    padding: 0;
    font-family: 'MyCustomFont2';
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1a1a1a;
    cursor: url('images/cursor-4.cur'), auto;
}

/* Main page*/
.home-page {
    background-image: url('images/background.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.right-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: right ;
    width: 50%;
    justify-content: space-between;
    height: 100vh;
}

.name {
    font-size: 55px;
    letter-spacing: 4px;
    padding-left: 70px;
    margin-top: 70px;
    margin-bottom: 3px;
}

.portfolio-tag {
    font-size: 25px;
    text-align: right;
    margin-top: -5px;
    margin-left: 105px;
    font-weight: 300;

}

.content {
    display: flex;
    width: 100%;
    z-index: 1;
}

.text-section {
    width: 120%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
    padding-bottom: 20px;
    margin-left: 20px;
}

.number {
    font-size: 30px;
    margin-left: 5px;
    padding-right: 10px;
    color: white;
    border-right: 1px solid white;
    font-weight: 100;
}

.category {
    font-size: 20px;
    display: inline-block;
    margin-right: 65px;
    background-color: rgb(229, 22, 22);
    padding: 0px 7px;
    font-weight: 300;
}

/*Menu main page*/
.menu-large {
    width: 70%;
    text-align: right;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
    padding-right: 70px;
    margin-top: 90px;
}

.menu-large ul {
    list-style-type: none;
    padding: 0;
}

.menu-large ul li {
    padding: 40px 0px;
}

.menu-large ul li a {
    transition: color 0.7s, transform 0.7s;
    font-size: 10vh;
    font-weight: 100;
}

.menu-large ul li a:hover{
    color: #1a1a1a;
    transform: scale(0.8); 
    cursor: none;
}

/* Footer */
footer {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 100%;
    text-align: right;
    padding: 10px 0;
    z-index: 3;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a i {
    margin-right: 5px;
    transition: color 0.7s, transform 0.7s;
    transform: scale(1);
    cursor: url('images/cursor-4.cur'), auto; 
}

footer a i:hover {
    transform: scale(1.3); 
    cursor: none;
    color: rgb(50, 50, 50);
}

/*Projects*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    text-align: center;
}

.card {
    background-color: #494949;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
    padding: 2vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
}

.card img {
    width: 80%;
    height: 200;
    object-fit: cover;
    object-position: center;
    transition: filter 0.3s ease;
    filter: grayscale(100%);
    text-align: center;
    align-items: center;
    /* display:flex; */
}

.card:hover img {
    filter: grayscale(0%);
    cursor: url('images/cursor-6.cur'), auto;
    transition: 0.7s;
}

.tag {
    display: inline-block;
    background-color: red;
    padding: 5px 5px;
    margin-right: 5px;
    font-size: 1vh;
}

.card h3 {
    color: white;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    font-family: 'MyCustomFont2';
}

.card p {
    color: white;
}

/*About me*/
.about-container {
    display: flex;
    width: 100%;
}

.left-content {
    width: 60%;
    margin-left: 2%;
}

.me {
    width: 30%;
    align-self: center;
}

.me img {
    margin: 3vh;
    padding: 2vh;
    width: 100%;
    height: auto;
    filter: grayscale(100%) contrast(125%) brightness(115%);    
}

.right-content {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(66, 66, 66);
}

.right-content ul {
    margin-top: 35%;
}

.content-panel {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 3vh;
    width: 45%;
    height: 100%;
    background-color: #1a1a1a;
    color: rgb(216, 216, 216);
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    overflow: auto;
    padding: 2%;
}

.content-panel.active {
    transform: translateX(0);
}

.panel-header {
    font-size: 30px;
}

.skills ul li, .qualifications ul li {
    list-style-type: none;
}

.qualifications, .skills {
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 200;
    text-align:left;
    font-size: 16px;
    list-style-type: none;
    padding: 1%;
}

.qualifications:last-child {
    border-top: none;
}

.summary {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 2.3vh;
    text-align: right;
    margin-top: 3vh;
    background-color: white;
    padding: 3% 7%;
    color: #1a1a1a;
    /* width: 0%; */
    border-top: 1px solid white;
}

.experience ul li {
    font-size: 16px;
    list-style-type: none;
    font-weight: 400;

}

.achievements ul li {
    font-size: 16px;
    list-style-type: none;
    font-weight: 400;
}

.right-content ul li {
    list-style-type: none;
    padding: 10%;
}

/*Menu general*/
.menu-general ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.menu-general nav ul li {
    display: inline;
    padding: 10px 30px;
}

.menu-general nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.7s;
}

.menu-general nav ul li a:hover {
    color: red;
    font-weight: 100;
    cursor: none;
    transition: 0.7s;
}

.menu-general nav ul li a.active {
    color: red; 
    font-weight: 100;
}

/*Contact*/

.mailto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 64px;
    color: white;
    border-top: 2px solid white;
    font-weight: 300;
    letter-spacing: 0.2cap;
}

.contact {
    display: flex;
    height: 20%;
}

.contact-option {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 3%;
    border-right: 2px solid white;
    border-top: 2px solid white;
    font-size: 30px;
    font-weight: 200;
}

.contact-option:last-child {
    border-right: none;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.contact-option a:hover, .mailto:hover a{
    color: red !important; 
    font-size: smaller;
    transition: 0.7s;
    cursor: url('images/cursor-4.cur'), auto;
}

.mailto a:hover {
    cursor: url('images/cursor-5.cur'), auto;
}

.contact-option a:hover {
    cursor: url('images/cursor-4.cur'), auto;
}
/*Mobile*/

@font-face {
    font-family: 'MyCustomFont1';
    src: url('fonts/myfont1.woff2') format('woff2');
}

@font-face {
    font-family: 'MyCustomFont2';
    src: url('fonts/myfont2.woff2') format('woff2');
        
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
   
  label {
    font-weight: bold;
    margin-top: 10px;
  }
   
  input, textarea {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    resize: none;
  }

  .filters {
    display: flex;
    justify-content: flex-end;
    padding-right: 18vh;
  }

  button {
    /* margin-top: 5vh; */
    padding: 0.5vh 2vh;
    border: none;
    color: #ffffff;
    background-color: #494949;
    cursor: url('images/cursor-6.cur'), auto;
    font-family: 'Courier New', Courier, monospace; 
    margin: 2vh;
    font-size: 1.3vh;
  }

/* @media (max-width: 768px) {
    .left-section, .right-section {
        width: 100%;
    }

    .menu-large ul li a {
        font-size: 2.5rem;
    }
} */

/* Стили для больших экранов (настольные компьютеры) */
/* @media (min-width: 992px) {
    .container {
        flex-direction: row;
    }

    .card {
        width: 45%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .menu-large {
        padding: 10px 0;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .name, .portfolio-tag {
        text-align: center;
        padding-left: 0;
    }

    .menu-large ul li a {
        font-size: 40px;
    }

    .footer {
        text-align: center;
    }
} */
