body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: white;
}

header, main, footer {
    text-align: center;
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #555;
    color: white; 
    border: none;
    border-radius: 5px;
}

.menu-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    z-index: 1000;
}

nav {
    position: fixed;
    top: 40px; /* Adjusted top position */
    right: 0;
    width: 0;
    height: calc(100% - 40px); /* Adjusted height */
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999;
}

nav ul {
    position: absolute;
    top: 0; /* Adjusted top position */
    width: 100%;
    list-style-type: none;
    padding: 0;
    text-align: left;
}

nav ul li {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

nav ul li:hover {
    background-color: #555;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer a {
    margin: 0 10px;
    color: #0077cc; /* Blue color for links */
    text-decoration: none;
}
